<%= form_with(model: cliente, local: true) do |form| %>
  <% if cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, 
    class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf, 
    class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone, 
    class: "form-control" %>
  </div>

  <%= form.fields_for :users do |user_form| %>
    <div class="field">
      <%= user_form.label :email %>
      <%= user_form.text_field :email,
      class: "form-control"  %>
    </div>

    <div class="field">
      <%= user_form.label :senha %>
      <%= user_form.password_field :password,
      class: "form-control"  %>
    </div>
  <% end %>

  <div class="actions">
    <br>
    <button type="submit" name=”commit” class="btn btn-primary mb-2">Criar</button>
  </div>
<% end %>
