<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="row">Nome</th>
      <th scope="row">Cpf</th>
      <th scope="row">Telefone</th>
      <th scope="row" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.user.name %></td>
        <td><%= cliente.cpf %></td>
        <td><%= cliente.telefone %></td>
        <td><%= link_to 'Mostrar', cliente %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'Destruir', cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Cliente', new_cliente_path, class: "btn btn-primary mb-2" %>
