<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @terreno.name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @terreno.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @terreno.longitude %>
</p>

<p>
  <strong>Imagem: </strong>
  <%= image_tag(@terreno.imagem.thumb.url) %>
</p>

<%= link_to 'Editar', edit_terreno_path(@terreno), class: "btn btn-primary mb-2" %> |
<%= link_to 'Voltar', terrenos_path, class: "btn btn-primary mb-2" %>
