<p id="notice"><%= notice %></p>

<h1>Lotes</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Latitude 1</th>
      <th scope="col">Latitude 2</th>
      <th scope="col">Longitude 1</th>
      <th scope="col">Longitude 2</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lotes.each do |lote| %>
      <tr>
        <td ><%= lote.name %></td>
        <td><%= lote.latitude_1 %></td>
        <td><%= lote.latitude_2 %></td>
        <td><%= lote.longitude_1 %></td>
        <td><%= lote.longitude_2 %></td>
        <td><%= link_to 'Mostrar', lote %></td>
        <td><%= link_to 'Editar', edit_lote_path(lote) %></td>
        <td><%= link_to 'Destruir', lote, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Lote', new_lote_path, class: "btn btn-primary mb-2" %>
