<p id="notice"><%= notice %></p>

<h1>Lotes</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Latitude 1</th>
      <th scope="col">Latitude 2</th>
      <th scope="col">Longitude 1</th>
      <th scope="col">Longitude 2</th>
      <th scope="col">Image name</th>
      <th scope="col">Image type</th>
      <th scope="col">Tile url x</th>
      <th scope="col">Tile url y</th>
      <th scope="col">Tile url z</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lotes.each do |lote| %>
      <tr>
        <td ><%= lote.name %></td>
        <td><%= lote.latitude_1 %></td>
        <td><%= lote.latitude_2 %></td>
        <td><%= lote.longitude_1 %></td>
        <td><%= lote.longitude_2 %></td>
        <td><%= lote.image_name %></td>
        <td><%= lote.image_type %></td>
        <td><%= lote.tile_url_x %></td>
        <td><%= lote.tile_url_y %></td>
        <td><%= lote.tile_url_z %></td>
        <td><%= link_to 'Show', lote %></td>
        <td><%= link_to 'Edit', edit_lote_path(lote) %></td>
        <td><%= link_to 'Destroy', lote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lote', new_lote_path, class: "btn btn-primary mb-2" %>
