<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lote.name %>
</p>

<p>
  <strong>Latitude 1:</strong>
  <%= @lote.latitude_1 %>
</p>

<p>
  <strong>Latitude 2:</strong>
  <%= @lote.latitude_2 %>
</p>

<p>
  <strong>Longitude 1:</strong>
  <%= @lote.longitude_1 %>
</p>

<p>
  <strong>Longitude 2:</strong>
  <%= @lote.longitude_2 %>
</p>

<p>
  <strong>Imagem: </strong>
  <%= image_tag(@lote.imagem.thumb.url) %>
</p>

<%= link_to 'Editar', edit_lote_path(@lote), class: "btn btn-primary mb-2" %> |
<%= link_to 'Voltar', lotes_path, class: "btn btn-primary mb-2" %>
