<%= form_with(model: corretor, local: true) do |form| %>
  <% if corretor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(corretor.errors.count, "error") %> prohibited this corretor from being saved:</h2>

      <ul>
      <% corretor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :users do |user_form| %>
    <div class="field">
      <%= form.label :nome %>
      <%= form.text_field :nome,
      class: "form-control"  %>
    </div>

    <div class="field">
      <%= user_form.label :email %>
      <%= user_form.text_field :email,
      class: "form-control"  %>
    </div>

    <div class="field">
      <%= user_form.label :senha %>
      <%= user_form.password_field :password,
      class: "form-control"  %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf,
    class: "form-control"  %>
  </div>

  <div class="field">
    <%= form.label :crea %>
    <%= form.text_field :crea,
    class: "form-control"  %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone,
    class: "form-control"  %>
  </div>
  

  <div class="actions">
  <br>
    <button type="submit" name=”commit” class="btn btn-primary mb-2">Criar</button>
  </div>
<% end %>
