<%= form_with(model: corretor, local: true) do |form| %>
  <% if corretor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(corretor.errors.count, "error") %> prohibited this corretor from being saved:</h2>

      <ul>
      <% corretor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :crea %>
    <%= form.text_field :crea %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone %>
  </div>

  <div class="actions">
    <button type="submit" name=”commit” class="btn btn-primary mb-2">Criar</button>
  </div>
<% end %>
