<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @corretor.nome %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @corretor.cpf %>
</p>

<p>
  <strong>Crea:</strong>
  <%= @corretor.crea %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @corretor.telefone %>
</p>

<%= link_to 'Edit', edit_corretor_path(@corretor) %> |
<%= link_to 'Back', corretors_path %>
