<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @corretor.user.name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @corretor.cpf %>
</p>

<p>
  <strong>Crea:</strong>
  <%= @corretor.crea %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @corretor.telefone %>
</p>

<%= link_to 'Editar', edit_corretor_path(@corretor), class: "btn btn-primary mb-2" %> |
<%= link_to 'Voltar', corretores_path, class: "btn btn-primary mb-2" %>
