<%= form_with(model: empresa, local: true) do |form| %>
  <% if empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(empresa.errors.count, "error") %> prohibited this empresa from being saved:</h2>

      <ul>
      <% empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :users do |user_form| %>
    <div class="field">
      <%= user_form.label :nome %>
      <%= user_form.text_field :name,
      class: "form-control" %>
    </div>
    <div class="field">
      <%= user_form.label :email %>
      <%= user_form.text_field :email,
      class: "form-control"  %>
    </div>

    <div class="field">
      <%= user_form.label :senha %>
      <%= user_form.password_field :password,
      class: "form-control"  %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cnpj %>
    <%= form.text_field :cnpj,
    class: "form-control" %>
  </div>


  <div class="actions">
    <br>
    <button type="submit" name=”commit” class="btn btn-primary mb-2">Criar</button>
  </div>
<% end %>
