<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @empresa.nome %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @empresa.cnpj %>
</p>

<%= link_to 'Editar', edit_empresa_path(@empresa), class: "btn btn-primary mb-2" %> |
<%= link_to 'Voltar', empresas_path, class: "btn btn-primary mb-2" %>
