<%= form_with(model: loteamento, local: true) do |form| %>
  <% if loteamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loteamento.errors.count, "error") %> prohibited this loteamento from being saved:</h2>

      <ul>
      <% loteamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :terreno_id %>
    <%= form.number_field :terreno_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
