<%= form_with(model: loteamento, local: true) do |form| %>
  <% if loteamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loteamento.errors.count, "error") %> prohibited this loteamento from being saved:</h2>

      <ul>
      <% loteamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :name,
    class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude,
    class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude,
    class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :terreno %>
    <%= form.collection_select(:terreno_id, Terreno.all, :id, :name, {include_blank: false},{class: 'form-control '}) %>
  </div>

  <div class="actions">
    <br>
    <button type="submit" name=”commit” class="btn btn-primary mb-2">Criar</button>
  </div>
<% end %>
