<!DOCTYPE html>
<html>
  <head>
    <title>G-Plant</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

   <nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="/">    
      <img src="<%=asset_path('g-plant.png')%>" width="50" height="55" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <% if user_signed_in? %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/terrenos">Terrenos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/loteamentos">Loteamentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/empresas">Empresas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/clientes">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/corretores">Corretores</a>
          </li>
        </ul>
        <div class="nav navbar-nav navbar-right">
          <li>  Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
        </div>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
    </div>
  </body>
</html>
